:root {
    --bg: #0a0a0f;
    --card: #11111a;
    --neon-pink: #ff2bdc;
    --neon-blue: #00f6ff;
    --text: #e6e6eb;
    --muted: #9aa0a6;
    --neon-yellow: #FFF300;
}

body {
    margin: 0;
    Padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.6;
}
