/* =====================
   VARIABLES
   ===================== */
:root {
  --bg: #0a0a0f;
  --card: #11111a;
  --neon-pink: #ff2bdc;
  --neon-blue: #00f6ff;
  --neon-yellow: #FFF300;
  --text: #e6e6eb;
  --muted: #9aa0a6;
  
}

/* =====================
   BASE
   ===================== */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  color: var(--text);
  line-height: 1.6;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: none;
}

/* =====================
   IMAGE DE FOND
   ===================== */
body>img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: visible 10s ease forwards;
  animation-delay:7s;
  animation: visible 10s ease forwards;
  animation-delay:7s;
  animation-fill-mode: both;
}

/* =====================
   HEADER & LOGO
   ===================== */
header {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.logoTusmo {
  display: flex;
  font-size: 2rem;
  color: var(--neon-blue);
  text-shadow: 0 0 10px var(--neon-blue);
  animation: neonPulse 1.8s ease-in-out infinite;
}

.letter {
  color: var(--neon-blue);
}

/* =====================
   GRILLE DE JEU
   ===================== */
.grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: center;
  width: 250px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid #00f6ff;
  color: var(--neon-blue);
  box-shadow: 0 0 15px var(--neon-blue);
  animation: neonPulse 1.8s ease-in-out infinite;
}

.cell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: var(--neon-blue) !important;
  border: 3px solid var(--neon-blue);
  box-shadow: 0 0 15px var(--neon-blue);
  animation: neonPulse 1.8s ease-in-out infinite;
}

.cell.correct {
  background: #28d45c;
}
.key.correct {
  background: #28d45c;
}


.cell.present {
  background: #fff300;
  color: #000;
}
.key.present {
  background: #fff300;
  color: #000;
}

.cell.absent {
  background: #74747a;
  color: #bbb;
}
.key.absent {
  background: #2a2a35;
  color: #bbb;
}

.cell {
  
  background-color: rgba(0, 0, 0, 0.39)
}

/* =====================
   CLAVIER
   ===================== */
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.ligne {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.key {
  border: 1px solid white;
  width: 40px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.39);
  color: var(--neon-yellow);
  transition: transform 0.5s ease;
}

.key:hover {
  transform: scale(1.2);
}

#buttonReturn,
#buttonEnter {
  width: 85px;
}

/* =====================
   CURSEUR
   ===================== */
.cyber-cursor {
  width: 14px;
  height: 14px;
  border: 2px solid var(--neon-blue);
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  box-shadow: 0 0 12px var(--neon-blue);
  transform: translate(-50%, -50%);
  transition:
    transform 0.08s ease-out,
    box-shadow 0.2s ease,
    border-color 0.2s ease;
}

/* =====================
   TENTATIVES
   ===================== */
#attempt {
  position: absolute;
  top: 4%;
  right: 5%;
  color: var(--text);
}

/* =====================
   PROGRESS BAR
   ===================== */
.progress-container {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  width: 800px;
  height: 20px;
  background-color: #ddd;
  border-radius: 20px;
  overflow: hidden;
  animation: disparaitre 9s ease forwards;
  animation: disparaitre 9s ease forwards;
}

.progress-bar {
  height: 100%;
  background-color: #6262d1;
  border-radius: 20px;
  animation: load 9s ease-in forwards;
  animation: load 9s ease-in forwards;
}

/* =====================
   SKELETON (BECARO)
   ===================== */
.skeleton {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  
  height:100%;
  
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  animation: becaro 7s ease-in forwards;
  animation-delay: 9s;
  animation: becaro 7s ease-in forwards;
  animation-delay: 9s;
  animation-fill-mode: both;
  display:flex;

  justify-content: center;;
  display:flex;

  justify-content: center;;
}
.skeletton img {
  max-width: 50vw;
  max-height: 50vh;
  
  max-width: 50vw;
  max-height: 50vh;
  
}





/* =====================
   CONTENU PRINCIPAL
   ===================== */
.visible {
  position: relative;
  z-index: 1;
  animation: visible 2s;
  animation-delay: 16s;
  animation-delay: 16s;
  animation-fill-mode: both;
}

/*======================
Titre 1 et 2
======================== */

#titre1 {
  position: fixed;

  font-size: 350%;
  top: 25%;
  color: #ff2bdc;
  z-index: 2;
  animation: translate 15s ease-in forwards;

}

#titre2 {
  position: fixed;
  left: 0;
  font-size: 350%;
  bottom: 25%;
  color: #00f6ff;
  z-index: 2;
  animation: translateA 15s ease-in forwards;
}

/* =====================
   KEYFRAMES
   ===================== */
/* @keyframes load {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes disparaitre {

  0%,
  98% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes visible {

  0%,
  90% {
    opacity: 1; filter: blur(20px);
  90% {
    opacity: 1; filter: blur(20px);
  }
  

  100% {
    opacity: 1; filter : blur(0px);
  }
}

@keyframes becaro {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes translate {
  0% {
    transform: translateX(-30vw)
  }

  50% {
    transform: translateX(100vw)
  }

  100% {
    transform: translateX(-30vw)
  }
}

@keyframes translateA {
  0% {
    transform: translateX(110vw)
  }

  50% {
    transform: translateX(-30vw)
  }

  100% {
    transform: translateX(100vw);
    display: none
  }
} */
#restartBtn{
  padding: 12px 18px;
  font-family: "Audiowide", sans-serif;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.458) ;
  border: 2px solid var(--neon-pink);
  color: var(--neon-pink);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 12px var(--neon-pink);
  top: 27%;
  right: 5%;
  position: absolute;

}

#restartBtn:hover{
  background: var(--neon-pink);
  color: #000;
}


#startScreen {
  position: fixed;
  inset: 0;
  z-index: 9000;
  background: url("https://i.pinimg.com/originals/64/a8/08/64a8083d07b8c98923311cbc88fecafe.gif") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.8s ease, visibility 0.8s ease;
  cursor: none;
  
}

#startScreen.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#startBtn {
  padding: 18px 50px;
  font-family: "Audiowide", sans-serif;
  font-size: 1.1rem;
  background: transparent;
  border: 2px solid var(--neon-pink);
  color: var(--neon-pink);
  
  cursor: none;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
#startBtn:hover {
  background: var(--neon-pink);
  color: #000;
  transform: scale(1.1);
}

#playWin {
  position: absolute;
  top: 12%;
  right: 5%;
  color: var(--text);
}

#playCount {
  position: absolute;
  top: 20%;
  right: 5%;
  color: var(--text);
}
@media  (max-width:768px){
  #titre1 {
  display:none
  }
  #titre2{
    display:none
  }
  .progress-container{
    display:none

  }
  #startScreen{
    display:none
  }
 .key{
  width:30px;
  height:25px;
 }
 #buttonReturn, #buttonEnter{
  width: 65px;
  height:25px;
 }
  .keyboard{
    margin-top : 10%
  }
#attempt{
  position:absolute;
  top:120%;
  color:var(--neon-yellow)
}
#playWin{
  position:absolute;
  top:130%;
  color:var(--neon-yellow)
}
#playCount{
  position:absolute;
  top:140%;
  color:var(--neon-yellow)
}
#restartBtn{
  position:absolute;
  top:105%;
  right:30%;
}

  
}

