:root {
  --bg: #0a0a0f;
  --card: #11111a;
  --neon-pink: #ff2bdc;
  --neon-blue: #00f6ff;
  --text: #e6e6eb;
  --muted: #9aa0a6;
  --neon-yellow: #FFF300;
}

body {
  margin: 0;
  Padding: 0;
  /* background-color: var(--bg); */
  background-image: url("../assets/Paysage.avif");
  background-size: cover;
  color: var(--text);
  line-height: 1.6;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: none;
}

.skeleton {
  display: none;
}

.logoTusmo {
  display: flex;
  box-shadow: #ff2bdc;
  margin-left: 50px;
  font-size: 2rem;
  color: var(--neon-blue);
  text-shadow: 0 0 10px var(--neon-blue);
  animation: neonPulse 1.8s ease-in-out infinite;

}

header {
  display: flex;
  font-size: 30px;
  justify-content: center;
  margin-top: 10px;

}

.letter {
  color: var(--neon-blue);
}

.grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.grille {
  display: flex;
  justify-content: center;
  width: 250px;
  border: 1px solid #00f6ff;
  margin-left: 50px;
  margin-right: 50px;color: var(--neon-blue);
  box-shadow: 0 0 15px var(--neon-blue);
  animation: neonPulse 1.8s ease-in-out infinite;
}
.cell {
  box-sizing: border-box;
  /* background: var(--neon-blue); */
  /* opacity: 0.2; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: var(--neon-blue)!important;
  box-shadow: 0 0 15px var(--neon-blue);
  animation: neonPulse 1.8s ease-in-out infinite;
  border: 3px solid var(--neon-blue);
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.ligne{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.key{
    border: 1px solid white ;
    transition: transform 0.5s ease;
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key:hover{
    transform: scale(1.2);
}

#buttonReturn, #buttonEnter{
    width: 85px;
}

.cyber-cursor {
  width: 14px;
  height: 14px;
  border: 2px solid var(--neon-blue);
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  box-shadow: 0 0 12px var(--neon-blue);
  transform: translate(-50%, -50%);
  transition:
    transform 0.08s ease-out,
    box-shadow 0.2s ease,
    border-color 0.2s ease;
}

#attempt{
  position: absolute;
  top: 4%;
  right: 5%;
  color: var(--text);
}